.current_list{
    height: 85vh;
    margin: 40px 40px;
    *{
        border-color: #bdbdbd;
    }
    
    h1 {
        height: 30px;
        padding-top: 20px;
    }
    th,td {
        color: #000000;
        
        font-size: 20px;
        font-weight: 300;
        padding: 5px 0px;
    }
    th{
        font-weight: bold;
    }
    span{
        color: #000000;
        
        font-size: 20px;
        font-weight: 300;
        padding: 5px 0px;
        margin-right: 10px;
    }
    .ingredients_header {
        font-size: 20px;
        
    }
    a{
        color: gray;
    }
    a:hover{
        color: black;
    }
}